# Ambiente virtual
venv/
.env

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos de log
*.log

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de banco de dados locais
db.sqlite3

# Arquivos de mídia e estáticos gerados
media/
staticfiles/

# Arquivos de migração
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/__pycache__/
