{% extends "base.html" %}
{% load static %}

{% block 'body' %}

<div class="bg-gray-100 min-h-screen relative isolate font-inter">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80 pointer-events-none" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-blue-400 to-purple-400 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>

    <!-- Alterei 'h-screen' para 'min-h-screen' e adicionei padding vertical (py-12) -->
    <div class="flex items-center justify-center min-h-screen py-12">
        <form class="bg-white shadow-md rounded-lg p-8 w-96" enctype='multipart/form-data' action="{% url 'cadastrar_pessoa' %} " method="POST"> {% csrf_token %}
            <h2 class="text-2xl font-bold mb-6 text-gray-900 text-center">Person</h2>
            <input type="text" name="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-500 sm:text-sm/6" placeholder="Enter the person's name...">
            <br>
            <input type="file" name="photo" id="photo" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-500 sm:text-sm/6">
            
            <input type="submit" class="mt-6 cursor-pointer w-full text-center rounded-md bg-blue-500 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500" value="Create">
        </form>
    </div>
</div>

{% endblock %}
